#--------------------------#
# Magento Default Files    #
#--------------------------#

/PATCH_*.sh

/app/etc/env.php
/app/etc/config.php
/sitemap
/sitemap.xml
/pub/sitemap
/pub/sitemap.xml

/media/*
!/media/.htaccess

!/media/customer
/media/customer/*
!/media/customer/.htaccess

!/media/dhl
/media/dhl/*
!/media/dhl/logo.jpg

!/media/downloadable
/media/downloadable/*
!/media/downloadable/.htaccess

!/media/xmlconnect
/media/xmlconnect/*

!/media/xmlconnect/custom
/media/xmlconnect/custom/*
!/media/xmlconnect/custom/ok.gif

!/media/xmlconnect/original
/media/xmlconnect/original/*
!/media/xmlconnect/original/ok.gif

!/media/xmlconnect/system
/media/xmlconnect/system/*
!/media/xmlconnect/system/ok.gif

/var/*
!/var/.htaccess

!/var/package
/var/package/*
!/var/package/*.xml

/pub/static/*
/pub/errors/*
/.idea/*
/generated/*
/pub/media/captcha/*
/pub/media/codazon_cache/*
/pub/media/codazon/slideshow/*
/pub/media/.thumbs/*
/pub/media/.thumbscodazon/*
/pub/media/.thumbsmagefan_blog/*
/pub/media/.thumbswysiwyg/*
/pub/media/.thumbsecopure/*
/pub/media/wysiwyg/.thumbs/*
/pub/media/catalog/product/cache/*
/pub/media/tmp/*
