*{
    margin: 0;padding: 0;
}
.page-layout-1column .columns {
    box-shadow: none;
}
.page-header, .page-footer, .cart-footer, .enhanced-privacy-cookie-policy, .wrapper-breadcrums, .block-static-block {
    display: none !important;
}
#line-error, #platform-error, #ro_order_no-error {
    margin-top: 40px;
}
#conditions-error {
    position: absolute;
    margin-top: -5px;
}
input[type="text"] {
    border: 1px solid #E1E1E1;
}
img {
    width: 100%;
}
.input.mage-error, select.mage-error, textarea.mage-error {
    border-color: #ed8380;
}
.form-div{
    padding:32px 0 20px;
    max-width:1140px;
    margin:0 auto;
}
.title-div{
    border-bottom:1px solid #E1E1E1;
    height:35px;
    margin-bottom:20px;
}
.title-word{
    border-bottom:2px solid #155DA4;
    min-width:160px;
    line-height:26px;
    text-transform:inherit;
    font-size:16px;
    float:left;
    margin:8px 20px 8px 0;
    font-weight:bold;
}
.input-font{
    font-size: 14px;
}
.red-title{
    color:red;vertical-align:middle;padding-right:5px;
}
.part1-select-div{
    display:inline-block;
    width:48%;
    margin-right:2%;
    margin-bottom:24px;
    position: relative;
}
.part1-select{
    width:100%;
    height:40px;
    color:#999;
    border:1px solid #F4F4F4;
    font:inherit;
}
.part1-input1-title{
    width:100%;
    text-align:left;
    border-radius:4px;
    padding:8px 0;
    border-right:0;
}
.part1-input1-title-span{
    vertical-align:middle;
    color:#555;
    white-space:nowrap;
}
.part1-input2-width{
    width:100%;
}
.part1-input3-width{
    width:100%;
}
.part1-input4-width{
    width:100%;
}
.part1-leftInput-div{
    display:inline-block;
    width:48%;
    margin-left:2%;
    margin-bottom:24px;
    position: relative;
}
.part2-leftInput-div{
    display:inline-flex;
    width:48%;
    margin-right:2%;
    margin-bottom:30px;
    position: relative;
}
.part1-rightInput-div{
    display:inline-block;
    width:48%;
    margin-bottom:24px;
    margin-right:2%;
    position: relative;
}
.part2-rightInput-div{
    display:inline-flex;
    width:49%;
    margin-bottom:30px;
    position: relative;
}
.input-titleWord-div{
    text-align:left;
    border-radius:4px;
    padding:8px 0;
    border-right:0;
}
.part2-titleWord-div{
    background-color:#fff;
    text-align:left;
    border:1px solid #ccc;
    border-radius:4px;
    padding:7px 12px;
    border-right:0;
    width:38%;
}
.input{
    width:100%;
    height:38px;
    color:#999;
    border:1px solid #e1e1e1;
    font:inherit;
}
.input-left-icon{
    width: 16px;
    height: 16px;
    border:0;
    border-radius:50%;
    background:url(/media/gift/ronote.png) no-repeat 0 0;
    background-size: contain;
    float: right;
    margin-right: 5px;
}

.submit-div{
    font-size:14px;
    margin-top:20px;
}
.button-right-span{
    display:inline-block;
    padding:7px 4px;
    color:#155DA4;
}
.form-button{
    min-width:190px;
    padding:10px 15px;
    background-color:#155DA4;
    border-radius:4px;
    color:#fff;
    border: 1px solid #155DA4;
    display: block;
    margin: 24px 0;
}

.bottom-content{
    margin-top: 25px;
    font-size:14px;
    line-height:1.5;
    color:#999999;
}
.display-img{
    position:absolute;
    top:38px;
    display:none;
    z-index: 9999;
}
.display-img-width{
    width:100%;
}
.display-img-show{
    display:inline-flex!important;
}
:focus{
    outline:none;
}
#input-icon1,#input-icon2{
    cursor:pointer;
    color:transparent;
    text-shadow: 0 0 0 #000;
}
.display-input-div{
    display:none;
}
.part1-input1-div{
    width:100%;
}
.error-text-before + div{
    position: absolute;
    top: 40px;
    left: 10px;
}
@media screen and (max-width:767px){
    .page-title-wrapper {
        padding-top: 40px;
        padding-left: 16px;
    }
    .page-title-wrapper .page-title {
        margin-bottom: 24px;
    }
    .page-layout-1column .columns {
        padding: 20px 16px;
    }
    input[type="text"] {
        height: 40px !important;
    }
    .button-right-span {
        display: inline;
        padding: 7px 1px;
    }
    #conditions-error {
        margin-top: 16px;
    }
    .display-img-show{
        display:block !important;
    }
    .display-img {
        top: 34px;
    }
    .form-button {
        width: 100%;
    }
    .form-button:hover {
        background: #155da4;
        border: 1px solid #155da4;
        color: #fff;
    }
    .form-button:active {
        background: #155da4;
        border: 1px solid #155da4;
        color: #fff;
    }
    .part1-leftInput-div,.part1-rightInput-div,.part1-select-div,.part2-leftInput-div,.part2-rightInput-div {
        width: 90%;
        margin-left: 5%;
    }
    .title-word{
        min-width:180px;
    }
}
@media screen and (max-width:464px){
    .part1-leftInput-div, .part1-rightInput-div, .part1-select-div, .part2-leftInput-div, .part2-rightInput-div {
        width: 100%;
        margin-left: 0;
    }
}
