* {
    margin: 0;
    padding: 0;
}
/* title start */
#maincontent #description .description .value>div:last-child {
    margin-bottom: 0;
}

#maincontent #description .description .value img {
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}

#maincontent #additional .additional-attributes-wrapper>#product-attribute-specs-table{
    width: 100%;
}
#maincontent #additional .additional-attributes-wrapper>#product-attribute-specs-table tr td{
    padding: 0;
}
#maincontent #additional .additional-attributes-wrapper>#product-attribute-specs-table tr td>div:last-child{
    margin-bottom: 0;
}

.mg-product-block-title {
    margin-bottom: 24px;
}

.mg-product-block-title-content {
    font-family: 'roboto-medium';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #333333;
}

@media(max-width:767px) {
    .mg-product-block-title {
        margin-bottom: 16px;
    }
    .mg-product-block-title-content {
        font-size: 20px;
    }
}
/* title end */
/* text start */

.mg-product-block-text {
    margin-bottom: 40px;
}

.mg-product-block-text-content-bold {
    display: block;
    font-family: 'roboto-medium';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #333333;
    margin-bottom: 16px;
}

.mg-product-block-text-content-normal {
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #333333;
    margin-bottom: 16px;
}

.mg-product-block-text-content-normal-ul {
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #333333;
    margin-bottom: 16px;
    padding-left: 20px;
}

.mg-product-block-text-content span:last-child {
    margin-bottom: 0;
}

.mg-product-block-text-content-table {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
    display: block;
}

.mg-product-block-text-content-table tr th {
    border: 1px solid #ccc;
    font-size: 14px;
    font-family: 'Roboto';
    line-height: 150%;
    font-style: normal;
    font-weight: normal;
    color: #111;
    padding: 10px;
    text-align: center;
}

.mg-product-block-text-content-table tr td {
    border: 1px solid #ccc;
    font-size: 14px;
    font-family: 'Roboto';
    line-height: 150%;
    font-style: normal;
    font-weight: normal;
    color: #111;
    padding: 10px;
}

@media(max-width:767px) {
    .mg-product-block-text {
        margin-bottom: 32px;
    }
    .mg-product-block-text-content-bold {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .mg-product-block-text-content-normal {
        font-size: 16px;
    }
    .mg-product-block-text-content-normal-ul {
        font-size: 16px;
    }
    .mg-product-block-text-content-table tr th,
    .mg-product-block-text-content-table tr td {
        min-width: 130px;
    }

    .mg-product-block-text-content-table {
        overflow: hidden;
        overflow-x: scroll;
    }
}
/* text end */
/* bigbanner start */

.mg-product-block-bigbanner {
    margin-bottom: 40px;
}

.mg-product-block-bigbanner-content {
    width: 100%;
}

.mg-product-block-bigbanner-content img {
    width: 100%;
    display: block;
}

@media (max-width:767px) {
    .mg-product-block-bigbanner {
        margin-bottom: 32px;
    }
}
/* bigbanner end */
/* middlebanner start */

.mg-product-block-middlebanner {
    margin-bottom: 40px;
}

.mg-product-block-middlebanner-content {
    width: 100%;
}

.mg-product-block-middlebanner-content img {
    width: 100%;
    display: block;
}

.mg-product-block-middlebanner-content span {
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #333333;
    margin-top: 24px;
}

@media (max-width:767px) {
    .mg-product-block-middlebanner {
        margin-bottom: 32px;
    }
}
/* middlebanner end */
/* threetables start */

.mg-product-block-threetables {
    margin-bottom: 40px;
}

.mg-product-block-threetables-content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, calc(33.3% - 26.6667px));
    grid-column-gap: 40px;
}

.mg-product-block-threetables-content-part span {
    display: block;
}

.mg-product-block-threetables-content-part img {
    display: block;
    width: 100%;
}

.mg-product-block-threetables-content-box {
    margin-top: 24px;
}

.mg-product-block-threetables-content-title {
    font-family: 'roboto-medium';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #333;
    margin-bottom: 16px;
}

.mg-product-block-threetables-content-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #333;
}

@media (max-width:767px) {
    .mg-product-block-threetables {
        margin-bottom: 32px;
    }
    .mg-product-block-threetables-content {
        display: block;
    }
    .mg-product-block-threetables-content-part {
        margin-bottom: 24px;
    }
    .mg-product-block-threetables-content-part:last-child {
        margin-bottom: 0;
    }
    .mg-product-block-threetables-content-title {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .mg-product-block-threetables-content-text {
        font-size: 16px;
    }
}
/* threetables end */
/* fourtables start */

.mg-product-block-fourtables {
    margin-bottom: 40px;
}

.mg-product-block-fourtables-content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, calc(25% - 24px));
    grid-column-gap: 32px;
}

.mg-product-block-fourtables-content-part span {
    display: block;
}

.mg-product-block-fourtables-content-part img {
    display: block;
    width: 100%;
}

.mg-product-block-fourtables-content-box {
    margin-top: 24px;
}

.mg-product-block-fourtables-content-title {
    font-family: 'roboto-medium';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #333;
    margin-bottom: 16px;
}

.mg-product-block-fourtables-content-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #333;
}

@media (max-width:767px) {
    .mg-product-block-fourtables {
        margin-bottom: 32px;
    }
    .mg-product-block-fourtables-content {
        display: block;
    }
    .mg-product-block-fourtables-content-part {
        margin-bottom: 32px;
    }
    .mg-product-block-fourtables-content-part:last-child {
        margin-bottom: 0;
    }
    .mg-product-block-fourtables-content-title {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .mg-product-block-fourtables-content-text {
        font-size: 16px;
    }
    .mg-product-block-fourtables-content-part img {
        width: 100%;
        margin: 0 auto;
    }
}
/* fourtables end */
/* pitchertext start */

.mg-product-block-pitchertext {
    margin-bottom: 40px;
}

.mg-product-block-pitchertext div:last-child {
    margin-bottom: 0;
}

.mg-product-block-pitchertext-content {
    display: flex;
    margin-bottom: 60px;
}

.mg-product-block-pitchertext-content img {
    display: block;
    width: 330px;
    height: 330px;
    margin: auto;
}

.mg-product-block-pitchertext-content span {
    display: block;
}

.flex-left {
    flex-direction: row;
}

.flex-left img {
    margin-right: 40px;
}

.flex-right {
    flex-direction: row-reverse;
}

.flex-right img {
    margin-left: 40px;
}

.mg-product-block-pitchertext-content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.mg-product-block-pitchertext-content-title {
    font-family: 'roboto-medium';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #333;
    margin-bottom: 16px;
}

.mg-product-block-pitchertext-content-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #333;
    margin-bottom: 16px;
}

.mg-product-block-pitchertext-content-ul {
    margin-bottom: 16px;
}

.mg-product-block-pitchertext-content-ul ul {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #333;
    margin: 0;
    padding: 0;
    padding-left: 20px;
}

.mg-product-block-pitchertext-content-box div:last-child {
    margin-bottom: 0;
}

@media (max-width:767px) {
    .mg-product-block-pitchertext {
        margin-bottom: 32px;
    }
    .mg-product-block-pitchertext-content {
        display: block;
    }
    .flex-left img {
        margin-right: 0;
    }
    .flex-right img {
        margin-left: 0;
    }
    .mg-product-block-pitchertext-content img {
        width: 100%;
        height: 100%;
        margin-bottom: 24px;
    }
    .mg-product-block-pitchertext-content-title {
        margin-bottom: 20px;
        font-size: 20px;
    }
    .mg-product-block-pitchertext-content-text {
        margin-bottom: 20px;
        font-size: 16px;
    }
    .mg-product-block-pitchertext-content-ul {
        margin-bottom: 20px;
        font-size: 16px;
    }
}
/* pitchertext end */
/* infotables start */

.mg-product-block-infotables {
    margin-bottom: 40px;
}

.mg-product-block-infotables-box {
    margin-bottom: 24px;
}

.mg-product-block-infotables .mg-product-block-infotables-box:last-child {
    margin-bottom: 0;
}

.mg-product-block-infotables-title {
    font-family: 'roboto-medium';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    margin-bottom: 16px;
    color: #333;
}

.mg-product-block-infotables-box .mg-product-block-infotables-item:last-child {
    border-bottom: 1px solid #e1e1e1;
}

.mg-product-block-infotables-item {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    width: 100%;
    border-top: 1px solid #e1e1e1;
    padding: 0;
}

.mg-product-block-infotables-label {
    grid-column: span 2;
    grid-row: span 1;
    padding: 10px 32px;
    font-size: 14px;
    color: #666;
    line-height: 1.5;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    white-space: break-spaces;
    background: #f4f4f4;
    border: none;
    display: block;
}

.mg-product-block-infotables-text {
    grid-column: span 3;
    grid-row: span 1;
    padding: 10px 32px;
    background: #fff;
    font-size: 14px;
    color: #333;
    font-family: Roboto;
    line-height: 1.5;
    margin: 0;
    white-space: break-spaces;
    border: none;
    display: block;
}

@media (max-width: 767px) {
    .mg-product-block-infotables {
        margin-bottom: 32px;
    }
    .mg-product-block-infotables-title {
        font-size: 20px;
        margin-bottom: 12px;
    }
    .mg-product-block-infotables-label {
        padding: 15px 10px;
    }
    .mg-product-block-infotables-text {
        padding: 15px 10px;
    }
}
/* infotables end */
/* comparisontable start */

.mg-product-block-comparisontable {
    margin-bottom: 40px;
}

.mg-product-block-comparisontable-box {
    max-width: 1180px;
    margin: 0 auto;
    overflow: hidden;
    overflow-x: scroll;
    background: #fff;
    margin-bottom: 40px;
}

.mg-product-block-comparisontable .mg-product-block-comparisontable-box {
    margin-bottom: 0;
}

.mg-product-block-comparisontable-box table {
    margin: 0 auto;
    width: 100%;
}

.mg-product-block-comparisontable-box a {
    display: inline-block;
    text-decoration: none;
    color: #155DA4;
}

.mg-product-block-comparisontable-box a:hover {
    text-decoration: underline;
}

.mg-product-block-comparisontable-box::-webkit-scrollbar {
    display: none;
    width: 0px;
    height: 0px;
}

.mg-product-block-comparisontable-box table {
    border-spacing: 0;
}

.mg-product-block-comparisontable-box table tr th {
    background: #F4F4F4;
    padding: 10px 15px;
    max-width: 188px;
    min-width: 188px;
    width: 188px;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #666666;
    font-family: roboto;
    border-top: 1px solid #E1E1E1;
    vertical-align: top;
    box-sizing: border-box;
    word-break: break-word;
    text-align: center;
}

.mg-product-block-comparisontable-box table tr:last-child th,
.mg-product-block-comparisontable-box table tr:last-child td {
    border-bottom: 1px solid #e1e1e1;
}

.mg-product-block-comparisontable-box table tr td {
    max-width: 152px;
    padding: 10px 15px;
    text-align: center;
    border-top: 1px solid #e1e1e1;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #333;
    font-family: roboto;
    vertical-align: top;
    box-sizing: border-box;
    word-break: break-word;
}

.mg-product-block-comparisontable-img td {
    border-top: none !important;
}

.mg-product-block-comparisontable-img img {
    width: 135px;
    margin-bottom: 12px;
}

.mg-product-block-comparisontable-img p {
    font-size: 14px;
    line-height: 150%;
    color: #155DA4;
    font-family: 'roboto-medium';
}

.mg-product-block-comparisontable-img p:hover {
    text-decoration: underline;
}

@media (max-width:1024px) {
    .mg-product-block-comparisontable-box table tr th {
        max-width: 110px;
        min-width: 110px;
        width: 110px;
        font-size: 14px;
    }
    .mg-product-block-comparisontable-box table tr td {
        max-width: 140px;
        font-size: 14px;
        min-width: 140px;
    }
    .mg-product-block-comparisontable-img img {
        width: 120px;
    }
}

@media (max-width:767px) {
    .mg-product-block-comparisontable {
        margin-bottom: 32px;
    }
}
/* comparisontable end */
/* doublecolumn start */

.mg-product-block-doublecolumn {
    margin-bottom: 40px;
}

.mg-product-block-doublecolumn-box-center div:last-child {
    margin-bottom: 0;
}

.mg-product-block-doublecolumn-box-center-title {
    font-family: 'roboto-medium';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #333333;
    margin-bottom: 16px;
}

.mg-product-block-doublecolumn-box-center-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #333333;
    margin-bottom: 16px;
}

.mg-product-block-doublecolumn-box-center-ul {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #333333;
    margin-bottom: 16px;
    display: inline-block;
    width: 420px;
    background: #F4F4F4;
    padding: 15px;
}

.mg-product-block-doublecolumn-box-center-ul ul {
    margin: 0;
    padding: 0;
    padding-left: 17px;
}

.mg-product-block-doublecolumn-box-right-title {
    font-family: 'roboto-medium';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #333333;
    margin-bottom: 16px;
}

.mg-product-block-doublecolumn-box-right-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #333333;
    margin-bottom: 16px;
}

.mg-product-block-doublecolumn-box-right-ul {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #333333;
    margin-bottom: 16px;
    background: #F4F4F4;
    padding: 15px;
}

.mg-product-block-doublecolumn-box-right-ul ul {
    margin: 0;
    padding: 0;
    padding-left: 17px;
}

.mg-product-block-doublecolumn-box-left {
    float: left;
    display: block;
    margin-right: 40px;
    margin-bottom: 10px;
    width: 330px;
}

.mg-product-block-doublecolumn-box-left img {
    width: 100%;
    display: block;
}

.mg-product-block-doublecolumn-box-right {
    float: right;
    width: 269px;
    padding-left: 40px;
    margin-left: 40px;
    border-left: 1px solid #dddddd;
}

.mg-product-block-doublecolumn-box-right-logo {
    margin-bottom: 24px;
}

.mg-product-block-doublecolumn-box-right-logo img {
    width: 100%;
    display: block;
}

@media (max-width:1200px) {
    .mg-product-block-doublecolumn-box-left {
        width: 30vw;
    }
    .mg-product-block-doublecolumn-box-right {
        width: 24vw;
        padding-left: 3vw;
        margin-left: 3vw;
    }
    .mg-product-block-doublecolumn-box-center-ul {
        width: 30vw;
    }
}

@media (max-width:767px) {
    .mg-product-block-doublecolumn {
        margin-bottom: 32px;
    }
    .mg-product-block-doublecolumn-box-left {
        float: unset;
        width: 100%;
        margin-right: 0;
        margin-bottom: 24px;
        order: 1;
    }
    .mg-product-block-doublecolumn-box-right {
        float: unset;
        width: 100%;
        padding-left: 0;
        margin-left: 0;
        border-left: 0;
        order: 3;
    }
    .mg-product-block-doublecolumn-box-center {
        order: 2;
        margin-bottom: 40px;
    }
    .mg-product-block-doublecolumn-box-center-ul {
        width: auto;
        display: block;
    }
    .mg-product-block-doublecolumn-box-right-title,
    .mg-product-block-doublecolumn-box-center-title {
        margin-bottom: 20px;
        font-size: 20px;
    }
    .mg-product-block-doublecolumn-box-center-text,
    .mg-product-block-doublecolumn-box-center-ul,
    .mg-product-block-doublecolumn-box-right-text,
    .mg-product-block-doublecolumn-box-right-ul {
        font-size: 16px;
    }
    .mg-product-block-doublecolumn-box {
        display: flex;
        flex-direction: column;
    }
    .mg-product-block-doublecolumn-box-right div:last-child {
        margin-bottom: 0;
    }
}
/* doublecolumn end */

/* product FAQ */
.mg-product-block-QA-title {
    font-size: 18px;
    line-height: 1.3;
    color: #333333;
    font-weight: 500;
    font-family: 'roboto-medium', sans-serif;
    padding: 20px 0;
}

.mg-product-block-QA-content {
    border-top: 1px solid #E1E1E1;
}

.mg-product-block-QA-question:hover .mg-product-block-QA-text {
    color: #155DA4;
}

.mg-product-block-QA-question:hover .mg-product-block-QA-icon svg path {
    fill: #155DA4;
}

.mg-product-block-QA .mg-product-block-QA-content:last-child {
    border-bottom: 1px solid #E1E1E1;
}

.mg-product-block-QA-question {
    display: grid;
    grid-template-columns: 95% 5%;
    padding: 20px 0;
    cursor: pointer;
}

.mg-product-block-QA-question .mg-product-block-QA-text {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #333333;
    line-height: 1.5;
    font-family: 'roboto-medium', sans-serif;
}

.mg-product-block-QA-question .mg-product-block-QA-icon {
    display: flex;
    justify-content: flex-end;
}

.mg-product-block-QA-answer {
    display: none;
    font-size: 14px;
    line-height: 1.5;
    color: #333333;
    text-decoration: none;
    padding-bottom: 20px;
    width: 80%;
}

@media (max-width: 767px) {
    .mg-product-block-QA-question .mg-product-block-QA-text {
        padding-right: 15px;
        font-size: 16px;
    }

    .mg-product-block-QA-title {
        font-size: 20px;
        padding: 24px 0;
    }

    .mg-product-block-QA-question {
        padding: 24px 0;
    }

    .mg-product-block-QA-answer {
        padding-bottom: 24px;
        font-size: 16px;
        width: 100%;
    }
}
/* end product FAQ */

/* start A+Style */
.a-product-one-bigbanner {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 20px;
}

.a-product-one-bigbanner h1 {
    font-family: 'roboto-medium';
    font-size: 24px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.a-product-one-bigbanner h5 {
    font-family: 'roboto-medium';
    font-size: 14px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.a-product-one-bigbanner p {
    font-family: 'Roboto-Regular';
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
}

.a-product-block-bigbanner-background {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
}

.a-product-block-bigbanner-background img {
    width: 100%;
    max-height: 450px;
}

.a-product-block-bigbanner-smallimg {
    display: none;
}

.a-product-block-bigbanner-leftmid {
    box-sizing: border-box;
    width: 48%;
    padding: 20px 20px 24px 20px;
    margin-left: 40px;
    background-color:rgba(0,0,0,0.5);
    z-index: 99;
    position: absolute;
}

.a-product-block-bigbanner-threeicon {
    padding: 10px 30px 0 30px;
}

.a-product-block-bigbanner-icon {
    width: 32%;
    display: inline-block;
    text-align: center;
}

.a-product-block-bigbanner-icon img {
    margin: 0 auto;
    width: 75%;
    position: static;
}

.a-product-block-bigbanner-icon p {
    font-family: 'roboto-medium';
    font-size: 14px;
    line-height: 100%;
    color: #FFFFFF;
}

.a-product-block-bigbanner-icon span {
    font-family: 'roboto-medium';
    font-size: 12px;
    line-height: 100%;
    color: #FFFFFF;
}

@media (max-width: 767px) {
    .a-product-one-bigbanner {
        position: static;
        width: 91.46667vw;
        height: 124vw;
    }

    .a-product-block-bigbanner-background {
        height: 74.6667vw;
        display: block;
    }

    .a-product-block-bigbanner-background img {
        height: 74.6667vw;
        max-height: unset;
    }

    .a-product-block-bigbanner-smallimg {
        display: block;
    }

    .a-product-block-bigbanner-bigimg {
        display: none;
    }

    .a-product-block-bigbanner-leftmid {
        width: auto;
        position: absolute;
        z-index: 5;
        top: 74.6667vw;
        margin: 0;
        background-color: #000000;
    }

    .a-product-block-bigbanner-icon img {
        height: auto;
    }
}

.a-product-block-bigvideo {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
}

.a-product-block-bigvideo video {
    display: inline-block;
    vertical-align: baseline;
}


@media (max-width: 767px) {
    .a-product-block-bigvideo {
        position: static;
        /*padding: 0 16px;*/
        width: 91.46667vw;
        height: auto;
        margin-bottom: 5.3333vw;
    }

    .a-product-block-bigvideo video {
        height: 37.3333vw;
    }

}

.a-product-block-videowithtexts {
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 20px;
}

.a-product-block-videowithtexts-texts {
    width: 50%;
    box-sizing: border-box;
    padding: 48px 40px 0 40px;
    float: left;
}

.a-product-block-videowithtexts-texts h5 {
    font-family: 'roboto-medium';
    font-size: 14px;
    line-height: 130%;
    color: #333333;
}

.a-product-block-videowithtexts-texts h1 {
    font-family: 'roboto-medium';
    font-size: 24px;
    line-height: 130%;
    color: #333333;
    margin-top: 8px;
}

.a-product-block-videowithtexts-texts p {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 150%;
    color: #333333;
    margin-top: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
}
.a-product-block-videowithtexts-texts-note {
    position: absolute;
    bottom: 5px;
    left: 0px;
    font-family: 'Roboto-Regular';
    font-size: 14px;
    line-height: 150%;
    color: #333333;
}

.a-product-block-videowithtexts-video {
    width: 50%;
    height: 100%;
    float: left;
    align-items: center;
    display: flex;
    justify-content: center;
}

.a-product-block-videowithtexts .a-product-block-videowithtexts-next {
    background: url(../image/next.png) no-repeat;
    right: 10px;
    left: auto;
    position: absolute;
    top: 50%;
    width: calc(var(--swiper-navigation-size) / 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.a-product-block-videowithtexts .a-product-block-videowithtexts-prev {
    background: url(../image/prev.png) no-repeat;
    left: 10px;
    right: auto;
    position: absolute;
    top: 50%;
    width: calc(var(--swiper-navigation-size) / 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.a-product-block-videowithtexts .swiper-pagination {
    bottom: auto !important;
    margin-top: 10px;
    position: static;
}

.a-product-block-videowithtexts .swiper-pagination-bullet {
    width: 40px;
    height: 4px;
    background-color: #F4F4F4;
    opacity: unset;
    border-radius: 2px;
}

.a-product-block-videowithtexts .swiper-pagination-bullet-active {
    background-color: #FBB500;
}

.swiper-mobile {
    display: none;
}

@media (max-width: 767px) {
    .a-product-block-videowithtexts {
        width: 91.46667vw;
        height: auto;
        position: static;
        margin-bottom: unset;
    }

    .a-product-block-videowithtexts-texts {
        width: auto;
        float: none;
        padding: 20px;
        margin-top: 20px;
    }

    .a-product-block-videowithtexts .pcswiper {
        display: none;
    }

    .a-product-block-videowithtexts .swiper-mobile {
        display: block !important;
    }

    .a-product-block-videowithtexts .swiper-mobile video {
        width: 100%;
        height: 224px;
    }

    .a-product-block-videowithtexts .a-product-block-videowithtexts-next-mobile {
        background: url(../image/mobile-next.png) no-repeat;
        right: 10px;
        left: auto;
        position: absolute;
        top: 50%;
        width: calc(var(--swiper-navigation-size) / 44 * 27);
        height: var(--swiper-navigation-size);
        margin-top: -28px;
        z-index: 10;
    }

    .a-product-block-videowithtexts .a-product-block-videowithtexts-prev-mobile {
        background: url(../image/mobile-prev.png) no-repeat;
        left: 10px;
        right: auto;
        position: absolute;
        top: 50%;
        width: calc(var(--swiper-navigation-size) / 44 * 27);
        height: var(--swiper-navigation-size);
        margin-top: -28px;
        z-index: 10;
    }

    .a-product-block-videowithtexts .swiper-slide {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .a-product-block-videowithtexts .swiper-mobile .swiper-wrapper .video-img {
        position: absolute;
        z-index: 999;
        background-position: center;
        cursor: pointer;
    }

    .a-product-block-videowithtexts .swiper-mobile .swiper-pagination2 {
        text-align: center;
        margin-top: 10px;
    }

    .a-product-block-videowithtexts-texts p {
        display: block;
    }
    .a-product-block-videowithtexts .a-product-block-videowithtexts-texts-note {
        position: static;
        display: block;
        margin-top: 15px;
    }
}
.a-product-block-bigbannerwithfeatures {
    position: relative;
}
.a-product-block-bigbannerwithfeatures-img {
    width: 100%;
}

.a-product-block-bigbannerwithfeatures .td-btn {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: rgba(153, 153, 153, 0.4);
    border: 2px solid #FFFFFF;
    padding: 0;
}

.a-product-block-bigbannerwithfeatures .td-btn:hover {
    background: rgba(21, 93, 164, 0.75);
}


.a-product-block-bigbannerwithfeatures .td-div {
    display: none;
    position: absolute;
    width: 37.1053%;
    height: 32.7660%;
    background: #FFFFFF;
    border-radius: 4px;
    padding: 1.7544%;
    box-sizing: border-box;
    z-index: 99;
}

.a-product-block-bigbannerwithfeatures .td-div .td-div-exit {
    width: 10.67px;
    position: absolute;
    top: 12px;
    right: 12px;
    left: unset;
    content:url(../image/Union.png);
    cursor:pointer;
}

/*.a-product-block-bigbannerwithfeatures .td-div img {*/
/*    position: absolute;*/
/*    left: 20px;*/
/*    float: left;*/
/*}*/

.a-product-block-bigbannerwithfeatures .td-info {
    width: 64%;
    margin-left: 4%;
    float: left;
}

.a-product-block-bigbannerwithfeatures .td-img {
    float: left;
    width: 29.9504%;
}

.a-product-block-bigbannerwithfeatures .td-info-p {
    font-family: 'roboto-medium';
    font-size: 14px;
    line-height: 130%;
    color: #333333;
    margin-bottom: 12px;
}

.a-product-block-bigbannerwithfeatures .td-info-span {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 150%;
    color: #333333;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.a-product-block-bigbannerwithfeatures .feature-mobile {
    display: none;
}
.a-product-block-bigbannerwithfeatures .swiper-pagination-feature {
    text-align: center;
    margin-top: 15px;
}
@media (max-width: 1024px) {
    .a-product-block-bigbannerwithfeatures .td-info-p {
        font-size: 12px;
        line-height: 100%;
    }
    .a-product-block-bigbannerwithfeatures .td-info-span {
        font-size: 12px;
        line-height: 110%;
    }
    .a-product-block-videowithtexts-texts h1 {
        font-size: 22px;
    }
    .a-product-block-videowithtexts-texts p {
        font-size: 12px;
    }
}
@media (max-width: 767px) {
    .a-product-block-bigbannerwithfeatures .feature-mobile {
        display: block;
        width: 91.46667vw;
        height: auto;
        position: static;
    }

    .a-product-block-bigbannerwithfeatures .feature {
        display: none;
    }

    .a-product-block-bigbannerwithfeatures .feature-img {
        width: 100%;
        height: 59.7333vw;
    }

    .a-product-block-bigbannerwithfeatures .feature-img img {
        width: 100%;
        height: 100%;
    }

    .a-product-block-bigbannerwithfeatures .feature-info {
        text-align: center;
        padding: 0 20px;
    }

    .a-product-block-bigbannerwithfeatures .feature-info p {
        color: #333333;
        margin: 5.3333vw 0 3.2vw 0;
        font-family: 'roboto-medium';
        font-size: 14px;
        line-height: 130%;
    }

    .a-product-block-bigbannerwithfeatures .feature-info span {
        font-family: 'Roboto';
        font-size: 14px;
        line-height: 150%;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        overflow: hidden;
    }

    .a-product-block-bigbannerwithfeatures .swiper-pagination-bullet {
        width: 40px;
        height: 4px;
        background-color: #F4F4F4;
        opacity: unset;
        border-radius: 2px;
    }

    .a-product-block-bigbannerwithfeatures .swiper-pagination-bullet-active {
        background-color: #FBB500;
    }
}
.triangle1{
    width: 0;
    height: 0;
    border-width: 12px;
    border-style: solid;
    border-color:#FFFFFF transparent transparent transparent;
}
.triangle2{
    width: 0;
    height: 0;
    border-width: 12px;
    border-style: solid;
    border-color:#FFFFFF transparent transparent transparent;
    transform: rotate(90deg);
}
.triangle3{
    width: 0;
    height: 0;
    border-width: 12px;
    border-style: solid;
    border-color:#FFFFFF transparent transparent transparent;
    transform: rotate(180deg);
}
.triangle4{
    width: 0;
    height: 0;
    border-width: 12px;
    border-style: solid;
    border-color:#FFFFFF transparent transparent transparent;
    transform: rotate(270deg);
}

/* end A+Style */
