<!--@subject {{trans "Warranty Reg Success"}} @-->

<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Header"}} @-->
<!--@vars {
"var logo_url":"Email Logo Image URL",
"var logo_alt":"Email Logo Alt Text",
"var logo_height":"Email Logo Image Height",
"var logo_width":"Email Logo Image Width",
"var template_styles|raw":"Template CSS"
} @-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <style type="text/css">
        {{var template_styles|raw}}

        {{css file="css/email.css"}}
    </style>
</head>
<body>
{{inlinecss file="css/email-inline.css"}}

<!-- Begin wrapper table -->
<table class="wrapper" width="100%">
    <tr>
        <td class="wrapper-inner" align="center">
            <table class="main" align="center">
                <tr>
                    <td class="header">
                        <a class="logo" href="{{store url=""}}">
                        <img
                            {{if logo_width}}
                            width="{{var logo_width}}"
                            {{else}}
                            width="180"
                            {{/if}}

                        {{if logo_height}}
                        height="{{var logo_height}}"
                        {{/if}}

                        src="https://www.water-filter.com/media/ecopure/waterdrop.png"
                        alt="{{var logo_alt}}"
                        border="0"
                        />
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="main-content">
                        <!-- Begin Content -->


<p>Gift certificate</p>
<br>
<p>Dear Customer,</p>
<br>
<p>Congratulations! We have received your request successfully!</p>
<p>Please rest assured that we always stand behind our products and service with confidence. If you need any assistance, don't hesitate to email back or call us at 1-888-352-3558 (Mon-Fri 8:00 AM-5:00 PM PST).</p>
<br>
<p>Sincerely,</p>
<p>Waterdrop Service Team</p>

{{template config_path="design/email/footer_template"}}
