@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?kix2tj');
    src:  url('fonts/icomoon.eot?kix2tj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?kix2tj') format('truetype'),
    url('fonts/icomoon.woff?kix2tj') format('woff'),
    url('fonts/icomoon.svg?kix2tj#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'roboto-medium';
    src:  url('fonts/Roboto-Medium.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

input {
    outline: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

select{
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select:none;
}
