@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?kix2tj');
    src:  url('fonts/icomoon.eot?kix2tj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?kix2tj') format('truetype'),
    url('fonts/icomoon.woff?kix2tj') format('woff'),
    url('fonts/icomoon.svg?kix2tj#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
