<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="aw_sarp2_stripe" frontName="aw_sarp2_stripe">
            <module name="Aheadworks_Sarp2Stripe" />
        </route>
    </router>
</config>
