/**
 * Copyright © 2015 Ihor Vansach (ihor@magefan.com). All rights reserved.
 * See LICENSE.txt for license details (http://opensource.org/licenses/osl-3.0.php).
 *
 * Glory to Ukraine! Glory to the heroes!
 */

.clearfix:after {
    content:"";
    display:table;
    clear:both;
}

.blog-page .post-holder {
    padding-bottom: 20px;
    margin-bottom: 20px;
    background: #F5F5F5;
    padding: 20px;
}
.blog-page .post-holder .post-header {position:relative;}
.blog-page-list .post-holder .post-header .post-info {padding: 0 0 12px 0;}
.blog-page .post-holder .post-header .post-info .item span {
    font-family: Roboto;
    font-size: 12px;
    line-height: 170%;
    color: #666666;
    font-style: normal;
}
.blog-page .post-holder .post-header .post-info .item a {
    font-family: Roboto;
    font-size: 12px;
    line-height: 170%;
    color: #666666
}
.blog-page .post-holder .post-header .post-info .item,
.blog-page .post-holder .post-header .post-info .dash {display: inline-block;}
.blog-page .post-holder .post-header .post-info .label {font-weight: normal;}
.blog-page .post-holder .post-header .post-info .value {}

.blog-page .pages .pages-items li.item {
    margin: 0px 4px 0px 4px !important;
}
.blog-page .pages .pages-items li.item a:hover {
    color: #ffffff !important;
    font-family: "roboto-medium";
}
.blog-page .pages .action.previous:hover:before {
    color: #ffffff !important;
}
.blog-page .pages .action.next:hover:before {
    color: #ffffff !important;
}
.blog-page .post-list {
    margin-top: 20px;
    margin-bottom: 20px;
    list-style: none;
}
.blog-page .post-list .post-content .post-read-more {
    padding: 10px 24px;
    background: #155DA4;
    border-radius: 4px;
    margin: 24px 0px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    float: left;
    text-decoration: none;
}
.blog-page .post-list .post-content .post-read-more:hover {
    background: #4F85BB;
    color: #FFFFFF;
    border: none;
}

.blog-category-view .category-content {padding-left: 40px;}
.blog-page .post-content .post-description p{
    position: static;
    width: 475px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 170%;
    color: #333333;
}
.blog-page .post-content .post-description img {margin:0 15px 0 15px;}
.blog-page .post-content .post-description ul,
.blog-page .post-content .post-description ol {list-style-position: inside;}
.blog-page .post-content .post-description .post-ftimg-hld {float: left; margin: 0 15px 0 15px; width: 33%}
.blog-page .post-content .post-description .post-ftimg-hld img {width:100%; padding:0px; margin:0px;}
@media (max-width: 496px) {
    .post-content .post-description .post-ftimg-hld {width: 100%; margin:0px;}
}

.blog-page .post-list .post-header .post-title a {
    text-decoration: none;
    font-size: 22px;
    color: #636363;
}

.blog-page .post-list .post-header .post-title {
    margin: 0px;
    padding: 10px 0 12px 0;
    float:left;
    width: 359px;
    font-family: roboto-medium;
    font-size: 20px;
    line-height: 130%;
    color: #333333;
}

.blog-page .post-list .post-holder .post-header .addthis_toolbox {float: right; padding-top: 20px;}
.blog-page .post-list .hidden {display:none;}

.blog-page .post-view .post-holder {
    padding: 40px !important;
    box-shadow: none !important;
    border-radius: 4px !important;
}
.blog-page .post-view .post-holder .post-header .addthis_toolbox {float: right;}
.blog-page .post-view .post-bottom {margin-top:30px;}

.blog-page .post-view .post-nextprev-hld  {margin-bottom: 30px;}
.blog-page .post-view .post-nextprev-hld .nextprev-link {font-weight: 700;}
.blog-page .post-view .post-nextprev-hld .prev-link {float:left}
.blog-page .post-view .post-nextprev-hld .next-link {float:right}

.blog-page .post-view .post-gallery {margin:15px 0 15px 0}
.blog-page .post-view .post-gallery .gallery-image-hld {margin: 0 14px 14px 0; border:1px solid #ccc; display: block; float:left}
.blog-page .post-view .post-gallery .gallery-image{padding: 0px; margin:0px; display:block}

.blog-page .post-view .block {margin-bottom: 30px;}

.blog-page .page-main {
    padding-top: 24px !important;
}
.blog-page .columns {
    margin-top: 24px;
    margin-right: -5px !important;
}
.blog-page-list .wrapper-breadcrums {
    display: none;
}
.blog-post-view .page-main {
    padding-top: 0 !important;
}
.blog-page .columns .post-list-wrapper .post-list .post-holder {
    margin-bottom: 20px !important;
    border-radius: 4px;
}
.blog-page .columns .post-list-wrapper .post-list .post-holder .post-image {
    border-radius: 4px ;
}
.blog-page .widget.block-categories ul.accordion {
    border-top: 1px solid #E1E1E1 !important;
}

.blog-page .widget.block-categories ul ul {
    margin-left:20px;
}

.blog-page .widget.block-categories ul,
.blog-page .widget.block-categories li {
    margin: 5px 0 5px 9px;
    padding: 0px;
}
.blog-page .sidebar-additional .block-categories a {
    font-family: Roboto;
    font-size: 14px;
    line-height: 130%;
    color: #333333;
    border: none !important;
    text-decoration: none !important;
}

.blog-page .widget.block-rss .rss-icon {float: left; width: 23px; padding-right: 10px;}


.blog-page .blog-search {
    border-radius: 4px !important;
}

.blog-page .sidebar .blog-search .block-content {
    margin-bottom: 0;
    border: none !important;
}

.blog-page .blog-search  label {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    text-decoration: none;
    display: inline-block;
    float: right;
}

.blog-page .blog-search .control {
    border-top: 0;
    margin: 0;
    padding: 0;
    clear: both;
    width: 189px;
}

.blog-page .blog-search input {
    border: 3px solid #E1E1E1;
    box-sizing: border-box;
    border-radius: 4px 0px 0px 4px;
    padding: 12px 16px;
}
.blog-page .blog-search .block-content .form input::-webkit-input-placeholder{
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    color: #999999;
}

.blog-page .blog-search .action.search {
    position: absolute;
    right: 29px !important;
    top: 14px !important;
    z-index: 1;
    display: inline-block;
    background-image: none;
    background: none;
    -moz-box-sizing: content-box;
    border: 0;
    box-shadow: none;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-shadow: none;
    font-weight: 400;
}

.blog-page .blog-search .action.search > span {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* Tag claud widget */
.blog-page .widget.block-tagclaud .smallest{font-size: 0.75em}
.blog-page .widget.block-tagclaud .small{font-size:1em}
.blog-page .widget.block-tagclaud .medium{font-size:1.25em}
.blog-page .widget.block-tagclaud .large{font-size:1.5em}
.blog-page .widget.block-tagclaud .largest{font-size:2em}

.blog-page .blog-widget-recent .post-list {
    padding: 0px;
    margin: 0px;
}

.blog-page .blog-widget-recent .post-holder {
    width: 29%;
    float: left;
    margin: 5px;
}

.blog-page .blog-widget-recent .post-description .post-text-hld {
    max-height: 150px;
    min-height: 150px;
    overflow-y: auto;
}

.blog-page .blog-widget-recent-masonry .post-description .post-text-hld {
    max-height: none;
    min-height: 0;
}
.blog-page .blog-widget-recent-masonry .post-description .post-ftimg-hld {
    width: 100%;
    margin: 0px;
}

.blog-page .mfblog-autoloader {text-align: center;}
.blog-page .mfblog-autoloader .mfblog-show-onload {display: none;}

.blog-page .pages .pages-items {
    position: static;
    width: 184px;
    height: 24px;
}

.blog-page .pages .pages-items .item a{
    border: none;
    border-radius: 3px;
    color: #000;
}
.blog-page .pages .action.previous:before {
    color: #000;
    content: '\e617';
    font-family: 'luma-icons';

}
.blog-page .pages .action.next:before {
    color: #000;
}
.blog-page .pages strong.page {
    border-radius: 3px;
    border: none !important;
}

@media (max-width: 420px) {
    .blog-page #mfblog_gcomments {max-width:345px; overflow-y: scroll;}
}

.blog-page .page-title-wrapper {
    display: none !important;
}

.blog-page .post-view-title span{
    font-family: roboto-medium;
    font-size: 35px;
    line-height: 120%;
}



.blog-page .post-view .post-info .post-categories a{
    color: #155DA4 !important;
}
.blog-page .post-view .blog-date{
    /*padding: 0 40px !important;*/
    color: #666666;
}
.blog-page .Subtitle-div {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    margin-bottom: 24px;
}

.blog-page .post-view .post-bottom {
    margin: 0 !important;
}
.blog-page .post-view .post-bottom .one-line {
    background-color: #155DA4;
    height: 2px;
    width: 32px;
    margin-bottom: 26px;
}
.blog-page .post-bottom .addthis_inline_share_toolbox a.at-icon-wrapper .at-icon-wrapper {
    height: 24px !important;
    width: 24px !important;
}
.blog-page .post-bottom .addthis_inline_share_toolbox a.at-icon-wrapper .at-icon-wrapper .at-icon {
    width: 24px !important;
    height: 24px !important;
}
.blog-page .Subtitle-div .addthis_inline_share_toolbox a.at-icon-wrapper .at-icon-wrapper {
    height: 24px !important;
    width: 24px !important;
}
.blog-page .Subtitle-div .addthis_inline_share_toolbox a.at-icon-wrapper .at-icon-wrapper .at-icon {
    width: 24px !important;
    height: 24px !important;
}
.blog-post-view .at-share-tbx-element .at-share-btn {
    margin: 0 10px 0 0 !important;
}
.blog-page .post-list-wrapper .post-list .addthis_inline_share_toolbox a.at-icon-wrapper .at-icon-wrapper {
    height: 16px !important;
    width: 16px !important;
}
.blog-page .post-list-wrapper .post-list .addthis_inline_share_toolbox a.at-icon-wrapper .at-icon-wrapper .at-icon {
    width: 16px !important;
    height: 16px !important;
}
.blog-page .post-list-wrapper .post-list .at-share-tbx-element .at-share-btn {
    margin: 0 5.3px 0 0 !important;
}
.blog-page .sidebar .widget .accordion {
    border: none !important;
}
.newsletter-blog {
    width: 285px;
    background: #F4FBFF;
    margin-bottom: 20px;
    text-align: center;
    padding: 40px 20px;
    position: relative;
    border-radius: 4px;
}
.newsletter-blog form {
    position: relative;
}
.newsletter-blog div.mage-error {
    position: absolute;
    top: 0px;
}
.newsletter-blog .newsletter-title {
    font-family: roboto-medium;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #333333;
}
.newsletter-blog .newsletter-line {
    height: 2px;
    width: 32px;
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: #155DA4;
    border: none;
}
.newsletter-blog .newsletter-span {

    font-family: Roboto;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #333333;
}
.newsletter-blog .newsletter-input {
    padding: 12px 16px;
    width: 245px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    margin: 24px 0 12px 0;
}
.newsletter-blog .newsletter-input::-webkit-input-placeholder{
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;

    color: #999999;
}
.newsletter-blog button {
    padding: 10px 24px;
    width: 245px;
    background: #155DA4;
    border-radius: 4px;
    margin: 0 !important;
    font-family: Roboto;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}
.newsletter-blog button:hover {
    background: #4F85BB;
    color: #FFFFFF;
    border: 1px solid #4F85BB;
}
.blog-page-list .sidebar-additional .block-categories {
    display: none;
}

.blog-page .columns .sidebar-additional .recent {
    display: none;
}

.top-banner{
    padding: 0;
    position: static;
    width: 1180px;
}
.top-banner .top-banner-main {
    display: flex;
    width: 1180px;
    height: 273px;
}
.top-banner-left {
    width: 620px;
    height: 273px;
    background: #F4FBFF;
    padding: 40px 60px 60px 80px;
    border-radius: 4px 0 0 0;
}
.top-banner .top-banner-left .top-banner-title {
    width: 480px;
    font-family: roboto-medium;
    font-size: 35px;
    line-height: 41px;
    color: #333333;
    margin-bottom: 12px;
}
.top-banner .top-banner-left p {
    font-family: Roboto;
    font-size: 16px;
    line-height: 150%;
    color: #333333;
    margin-bottom: 24px;
}
.top-banner .top-banner-left .top-banner-line {
    display: none;
}
.top-banner-form {
    position: relative;
    height: 48px;
}
.top-banner .top-banner-form div.mage-error {
    position: absolute;
    top: 50px;
}

.top-banner-form input {
    width: 273px;
    height: 48px !important;
    background: #FFFFFF;
    border: 1px solid #E1E1E1 !important;
    border-radius: 4px;
    padding: 0;
    padding-left: 16px;
}
.top-banner-form input::-webkit-input-placeholder{
    font-family: Roboto;
    font-size: 16px;
    color: #999999;

}
.top-banner-form button {
    width: 135px;
    height: 48px;
    background: #155DA4;
    border-radius: 4px;
    margin-left: 12px;
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.top-banner-form button:hover {
    background: #4F85BB;
    color: #FFFFFF;
    border: none;
}
.top-banner-right {
    width: 560px;
    height: 273px;
    background: url(../images/topbanner-right.png) no-repeat 0 0px;
    border-radius: 0 4px 0 0;
}

.mobile-top-banner-bottom {
    display: none;
}

.top-banner-bottom {
    display: flex;
    width: 1180px;
    background: #FFFFFF;
    border-radius: 0 0 4px 4px;
}
.top-banner-bottom .top-banner-ul {
    list-style: none;
    height: 100%;
    margin-bottom: 0;
    overflow-x: auto;
    white-space:nowrap;
}
.top-banner-bottom .top-banner-li {
    padding:16px 0 16px 0;
    margin-right: 32px;
    margin-bottom: 0;
    display: inline-block;

    font-size: 14px;
}
.top-banner-bottom .top-banner-ul .all {
    border-bottom: 2px solid #155DA4;
}
.top-banner-bottom .top-banner-ul .all a {
    font-family: roboto-medium;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
}
.top-banner-bottom .top-banner-li .top-banner-li-a {
    text-decoration: none;
    font-family: roboto-medium;
    font-size: 14px;
    line-height: 16px;
    color: #666666;
}

.blog-page .columns .post-list-wrapper .post-content .post-description {
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}
.blog-page .columns .post-list-wrapper .blog-date {
    padding: 8px 12px;
    position: absolute;
    left: 0%;
    top: 82.67%;
    background: #FFFFFF;
    display: flex;
    align-items: center;
}
.blog-page .columns .post-list-wrapper .blog-date .date-span {
    font-family: Roboto;
    font-size: 12px;
    line-height: 130%;
    color: #999999;
    margin-left: 5px;
}
.blog-page .widget.blog-search .action.search:before {
    font-size: 20px;
    background-size: 35px;
    content: '\e615';
    font-family: 'luma-icons';
    color: #FFFFFF;
    line-height: 40px;
}
.blog-page .sidebar-additional .block-list-posts {
    border-radius: 4px !important;
}
.blog-page .sidebar-additional .block-categories {
    width: 285px;
    border-radius: 4px !important;
}
.blog-page .sidebar-additional .block-title {
    padding: 20px 20px 0 20px !important;
    background-color: #ffffff !important;
    border-radius: 4px 4px 0 0 !important;
}
.blog-page .sidebar-additional .blog-search .form button:hover {
    background: #4F85BB;
    color: #FFFFFF;
}
.blog-page .sidebar-additional .block-title strong {
    border-bottom: 2px solid #155DA4 !important;
    font-family: roboto-medium !important;
    font-size: 16px !important;
    line-height: 19px !important;
    background: #fff !important;
    color: #333333; !important;
    padding-bottom: 10px !important;
}
.blog-page .sidebar-additional .block-content .item a {
    text-decoration: none !important;
    font-family: Roboto;
    font-size: 14px;
    line-height: 130%;
    color: #333333 ;
}
.blog-page .sidebar-additional .popular .block-content .item a {
    text-decoration: none !important;
    font-family: Roboto;
    font-size: 14px;
    line-height: 130%;
    color: #333333;
}
.blog-page .page-wrapper .page-main .columns .sidebar-additional .popular .block-content .item {
    border-top: 1px solid #E1E1E1 !important;
    margin-top: 12px !important;
    padding-top: 12px !important;
}
.blog-page .page-wrapper .page-main .columns .sidebar-additional .popular .block-content .item:first-child {
    border-top: 0 !important;
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.blog-page .sidebar-additional .block-content {
    border-top: 1px solid #E1E1E1 !important;
    padding: 20px !important;
    border-radius: 0 0 4px 4px !important;
}
.blog-page .sidebar-additional .block-content .item {
    /*border: none !important;*/
    border-top: 1px solid #E1E1E1 !important;
    margin-top: 12px !important;
    margin-bottom: 12px !important;
}

.blog-page .sidebar-additional .block-content .item:first-child {
    border-top: 0 !important;
    margin-top: 0 !important;
}
.blog-page .sidebar-additional .block-content .item:last-child {
    margin-bottom: 0 !important;
}
.blog-page .toolbar-blog-posts {
    margin-bottom: 0 !important;
}
.blog-page .wrapper-breadcrums .breadcrumbs ul.items {
    padding-top: 10px;
}
.blog-page .wrapper-breadcrums .breadcrumbs ul.items a {
    font-family: Roboto;
    font-size: 12px;
    line-height: 14px;
}

.blog-page .img-responsive {
    width: 100%;
}


/*content*/
.mg_blog_clear_h h1, .mg_blog_clear_h h2, .mg_blog_clear_h h3, .mg_blog_clear_h h4, .mg_blog_clear_h h5, .mg_blog_clear_h h6 {
    color: inherit !important;
    font-size: inherit !important;
    display: inline !important;
    font-weight: normal !important;
    margin: 0;
    line-height: inherit !important;
    font-family: 'roboto-semiBold';
}
.mg_blog_clear_h { color: #333; }
.mg_blog_title_2 { font-size: 28px; line-height: 120%; font-family: "roboto-medium"; font-weight: normal; margin: 48px 0 24px 0; }
.mg_blog_title_3 { font-size: 22px; line-height: 120%; font-family: "roboto-medium"; font-weight: normal; margin: 36px 0 24px 0; }
.mg_blog_title_4 { font-size: 18px; line-height: 120%; font-family: "roboto-medium"; font-weight: normal; margin: 28px 0 24px 0; }
.mg_blog_title_maintext { font-family: "roboto-regular"; font-weight: normal; font-size: 16px; line-height: 170%; margin-bottom: 24px; }
.mg_blog_strong { font-family: "roboto-medium"; font-weight: normal; }
.mg-blog-link { color: #333 !important; text-decoration: underline; word-wrap: break-word; }
.mg-blog-link:hover { color: #155DA4; }
.mg_blog_ul { margin-bottom: 24px; }
.mg_blog_ul ul { font-size: 16px; line-height: 170%; font-family: "roboto-regular"; font-weight: normal; list-style: inside; padding-left: 5px; }
.mg_blog_img { margin-bottom: 24px; display: flex; flex-direction: column; align-items: center; }
.mg_blog_img img { width: 480px; display: block; }
.mg_blog_img .mg_blog_img_note {
    display: block;
    font-size: 12px;
    line-height: 150%;
    color: #666666;
    font-family: "roboto-regular";
    font-weight: normal;
    margin-top: 12px;
}
.mg_blog_recommended { margin: 0 auto; width: 612px; height: auto; background: #FFFFFF; border: 10px solid #F4F4F4; display: flex; margin-bottom: 24px; }
.mg_blog_recommended a { text-decoration: none; display: inline-block; color: inherit; }
.mg_blog_recommended_image {
    padding: 10px 0 10px 10px;
    display: flex;
    align-items: center;
}
.mg_blog_recommended .mg_blog_recommended_img { width: 100%; display: block;margin: 0 !important;min-width: 200px; }
.mg_blog_recommended_content { padding: 30px 30px 30px 20px; width: 100%; }
.mg_blog_recommended_title { font-size: 16px; line-height: 150%; color: #333333; font-family: "roboto-regular"; font-weight: normal; margin-bottom: 8px; }
.mg_blog_recommended_title a { text-overflow: ellipsis; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }
.mg_blog_recommended_price { font-size: 20px; line-height: 1.5; color: #333333; margin-bottom: 34px; font-family: "roboto-regular"; font-weight: normal; }
.mg_blog_recommended_button_box { display: flex; }
.mg_blog_recommended_button_box a:first-child { margin-right: 12px; }
.mg_blog_recommended_view_more {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    background: #155DA4;
    border-radius: 4px;
    width: 160px;
    height: 40px;
    font-family: "roboto-regular";
    font-weight: normal;
    border: none;
    cursor: pointer;
    transition: all .2s linear;
    -ms-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
}
.mg_blog_recommended_view_more:hover {
    background: #4F85BB;
    color: #FFFFFF;
    border: 1px solid #4F85BB; }
.mg_blog_recommended_buy_on_amazon {
    width: 160px;
    height: 40px;
    background: #FFA41C;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    font-family: "roboto-regular";
    font-weight: normal;
    border: none;
    cursor: pointer;
    transition: all .2s linear;
    -ms-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
}
.mg_blog_recommended_buy_on_amazon:hover {
    background: #FFA41C;
    color: #333333;
    border: none;
}
@media (max-width:767px) {
    .mg_blog_img img { width: 100%; }
    .mg_blog_recommended { flex-direction: column; width: auto; }
    .mg_blog_recommended_image { padding: 20px; margin: auto; }
    .mg_blog_recommended_img { width: 100%; }
    .mg_blog_recommended_content { padding: 0 20px 20px 20px; width: auto; }
    .mg_blog_recommended_price { margin-bottom: 20px; }
    .mg_blog_recommended_button_box { flex-direction: column; }
    .mg_blog_recommended_button_box a:first-child { margin-right: 0; }
    .mg_blog_recommended_view_more { width: 100%; }
    .mg_blog_recommended_buy_on_amazon { width: 100%; margin-top: 12px; }
}

.blog-table-icon-parent {
    display: flex !important;
    justify-content: center;
    margin-bottom: 0px !important;
    padding: 12px 0;
}

.blog-top-table-a {
    color: #00549c !important;
    cursor: pointer;
    font-size: 16px;
    line-height: 150%;
    font-family: 'poppins-regular';
    display: flex;
    align-items: center;
}

.blog-top-table {
    background-color: #F6F8FC;
    margin-bottom: 48px;
    border-radius: 25px;
}

.blog-top-table a {
    text-decoration: none;
}

.blog-top-table-list {
    padding: 4px 48px 12px 48px;
    display: none;
}

.blog-top-table-list a {
    color: #00549C !important;
    font-family: 'poppins-medium';
    font-size: 16px;
    line-height: 125%;
    display: block;
    margin-bottom: 12px;
    cursor: pointer;
}

.blog-top-table-list a:last-child {
    margin-bottom: 0;
}

.blog-top-table-list .wd-blog-collection-secondary-anchor {
    font-size: 12px;
    padding-left: 12px;
}











