.ajax-cart-qty-minus:before {
    font-size: 16px;
    line-height: 32px;
    color: #E1E1E1;
    font-family: 'icomoon';
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
    content: '\e924';
    border: 1px solid #E1E1E1;
    border-right: none;
    width: 32px;
    height: 32px;
}

.ajax-cart-qty-plus:before {
    font-size: 16px;
    line-height: 32px;
    color: #E1E1E1;
    font-family: 'icomoon';
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
    content: '\e92a';
    border: 1px solid #E1E1E1;
    border-left: none;
    width: 32px;
    height: 32px;
}
